*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  
}
body{
    font-family: montserrat;
    
}
nav{
    background-color: #919191;
padding: 20px;
}
h1{
    color: white;
}
ul{
    display: block;
text-transform: uppercase;
float:right;
display: flex;
justify-content: center;
text-align: centers;
}
li{
    margin-right: 15px;
    margin-left: 20px;
    list-style-type: none;
    text-decoration: none;
    font-weight: 700;
    /* padding: 14px 16px; */
}